snap-content{
  background-color: #408080 ;

  -webkit-box-shadow: 0 0 50px 0 rgba(0,0,0,.5);
  box-shadow: 0 0 50px 0 rgba(0,0,0,.5);
}
#header-nav{
  padding: 0;
}
#center-wrapper{

  padding: 60px 0 0 0;
  margin: 0 !important;
  width:100% !important;
  height:100% !important;
  overflow: hidden;
}
#center-content{
//  margin: 2.7%;
  margin: 50px 5px 0 5px;
}
#left-drawer{
  background-color: #666699 ;
  padding: 0 2.7% 2.7% 2.7%;
}
#right-drawer{
  background-color: #666699 ;
//  padding: 0 2.7% 2.7% 2.7%;

  .wolf-list{
    margin: 2.7% 10%;
    .wolf-list-item{
      display: block;
      width: 100%;
      .wolf-img{
        float: left;
      }
      img{
        width: 50px;
        height: 50px;
        -webkit-border-radius: 50px;
        border-radius: 50px;
      }
      .wolf-name{
        float: left;
        color:rgba(255,255,255,0.75);
        font-size: 1.2em;
        margin: 15px 10px;
        &:hover{
          color:rgba(255,255,255,1) ;
        }
      }
    }
  }
}

/** Wolf single view **/
.wolf-banner{
  background: rgba(255,255,255,0.25);
  padding:2.7%;
  .wolf-img{
    float: left;
    img{
      width: 100px;
      height: 100px;
      -webkit-border-radius: 50px;
      border-radius: 50px;
      border:3px solid #FFF;
    }
  }
  .banner-content{
    float: left;
    //    width: 80%;
    .wolf-name{
      color:#fff;
      text-transform: uppercase;
      font-size: 1.6em;
      margin: 20px 10px 10px;
    }

    #current-gps{
      color:#CCC;
      font-size: 1.1em;
      margin: 0px 10px;
    }
  }
}
/** User single view **/
.user-banner{
  background: rgba(255,255,255,0.25);
  padding:2.7%;
  .user-img{
    float: left;
    img{
      width: 100px;
      height: 100px;
      -webkit-border-radius: 50px;
      border-radius: 50px;
      border:3px solid #FFF;
    }
  }
  .banner-content{
    float: left;
//    width: 80%;
    .user-name{
      color:#fff;
      text-transform: uppercase;
      font-size: 1.6em;
      margin: 20px 10px 10px;
    }

    #current-gps{
      color:#CCC;
      font-size: 1.1em;
      margin: 0px 10px;
    }
  }

}



.wolf-invite{
  background: rgba(255,255,255,0.25);
  padding:2.7%;
  .invite-img{
    float: left;
    img{
      width: 50px;
      height: 50px;
      -webkit-border-radius: 50px;
      border-radius: 50px;
      border:3px solid #FFF;
    }
  }
  .invite-name{
    float: left;
    color:#fff;
    font-size: 1.2em;
    margin: 15px 10px;
  }
  .invite-message{

  }
  .btn{

  }
}
