/* line 3, ../sass/app.scss */
#center-content {
  background-color: #408080;
  -webkit-box-shadow: 0 0 50px 0 rgba(0, 0, 0, 0.5);
  box-shadow: 0 0 50px 0 rgba(0, 0, 0, 0.5); }

/* line 10, ../sass/app.scss */
#left-drawer {
  background-color: #666699;
  padding: 0 2.7% 2.7% 2.7%; }

/* line 14, ../sass/app.scss */
#right-drawer {
  background-color: #666699; }
  /* line 18, ../sass/app.scss */
  #right-drawer .wolf-list {
    margin: 2.7% 10%; }
    /* line 20, ../sass/app.scss */
    #right-drawer .wolf-list .wolf-list-item {
      display: block;
      width: 100%; }
      /* line 23, ../sass/app.scss */
      #right-drawer .wolf-list .wolf-list-item .wolf-img {
        float: left; }
      /* line 26, ../sass/app.scss */
      #right-drawer .wolf-list .wolf-list-item img {
        width: 50px;
        height: 50px;
        -webkit-border-radius: 50px;
        border-radius: 50px; }
      /* line 32, ../sass/app.scss */
      #right-drawer .wolf-list .wolf-list-item .wolf-name {
        float: left;
        color: rgba(255, 255, 255, 0.75);
        font-size: 1.2em;
        margin: 15px 10px; }
        /* line 37, ../sass/app.scss */
        #right-drawer .wolf-list .wolf-list-item .wolf-name:hover {
          color: white; }

/* line 45, ../sass/app.scss */
.user-banner {
  background: rgba(255, 255, 255, 0.25);
  padding: 2.7%; }
  /* line 48, ../sass/app.scss */
  .user-banner .user-img {
    float: left; }
    /* line 50, ../sass/app.scss */
    .user-banner .user-img img {
      width: 100px;
      height: 100px;
      -webkit-border-radius: 50px;
      border-radius: 50px; }
  /* line 57, ../sass/app.scss */
  .user-banner .user-name {
    float: left;
    color: #fff;
    font-size: 1.4em;
    margin: 35px 10px; }

/* line 67, ../sass/app.scss */
.wolf-invite {
  background: rgba(255, 255, 255, 0.25);
  padding: 2.7%; }
  /* line 70, ../sass/app.scss */
  .wolf-invite .invite-img {
    float: left; }
    /* line 72, ../sass/app.scss */
    .wolf-invite .invite-img img {
      width: 50px;
      height: 50px;
      -webkit-border-radius: 50px;
      border-radius: 50px; }
  /* line 79, ../sass/app.scss */
  .wolf-invite .invite-name {
    float: left;
    color: #fff;
    font-size: 1.2em;
    margin: 15px 10px; }

/** Wolf single view **/
/* line 93, ../sass/app.scss */
.wolf-banner {
  background: rgba(255, 255, 255, 0.25);
  padding: 2.7%; }
  /* line 96, ../sass/app.scss */
  .wolf-banner .wolf-img {
    float: left; }
    /* line 98, ../sass/app.scss */
    .wolf-banner .wolf-img img {
      width: 100px;
      height: 100px;
      -webkit-border-radius: 50px;
      border-radius: 50px; }
  /* line 105, ../sass/app.scss */
  .wolf-banner .wolf-name {
    float: left;
    color: #fff;
    font-size: 1.4em;
    margin: 35px 10px; }
